.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
label,
ul,
ol,
dl,
fieldset,
address {
  margin: 1em 0;
}
li,
dd {
  margin-left: 5%;
}
fieldset {
  padding: .5em;
}
select option {
  padding: 0 5px;
}
.access {
  display: none;
}
.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}
a {
  outline: none;
}
a img {
  border: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
body {
  color: #222;
  font: 17px/1.5 "Open Sans",Arial,"Liberation Sans",FreeSans,sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

ul {
  list-style-type: circle;
  list-style-position: outside;
}
strong {
  font-weight: bold;
}
a {
  color: #1BA1E2;
  text-decoration: none;
}
a:visited {
  color: #457289;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 15px 0;
  height: 1px;
  padding: none;
  background: #ddd;
  border: none;
}
img {
  max-width: 550px;
  max-height: 550px;
  padding: 3px;
  border: 1px solid #EEE;
}
h1 {
  margin: 10px 0 5px 0;
  font-size: 22px;
  color: #000;
}
h2 {
  margin: 2em 0 -0.5em 0;
  font-size: 20px;
  color: #000;
}
h3 {
  margin: 2em 0 -0.75em 0;
  font-size: 13px;
  color: #000;
}
h3 a,
h3 a:visited,
h2 a,
h2 a:visited {
  color: #000;
}
h3 a:hover,
h2 a:hover {
  color: #000;
  border: none;
}
h4 {
  font-size: 1em;
  font-weight: normal;
  color: #000;
}
.figure small strong {
  text-transform: uppercase;
}
blockquote {
  margin: 1em 0;
  padding: 0 35px;
  font-size: 14px;
  border: 1px dotted #ddd;
  border-left: none;
  border-right: none;
}
blockquote p {
  margin: 12px 0;
  color: #666;
}
table {
  width: 100%;
  border-top: 1px solid #CCCCCC;
  border-bottom: 2px solid #CCC;
  color: #000000;
  background: #FFFFFF;
  border-collapse: separate;
  font-size: 11px;
}
caption {
  padding: 10px 10px 5px 0;
  text-align: left;
  font-size: 11px;
  font-weight: bold;
}
th {
  text-align: center;
  padding: 5px;
}
td {
  text-align: center;
  padding: 3px 5px;
}
.odd td {
  background: #F0F1F2;
}
table.data th,
table.data td {
  text-align: left;
}
/*SIDEBAR*/
section#sidebar {
  width: 258px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  min-height: 1500px;
  z-index: 0;
  border:none;
  height: 1500px;
}

.avatar {
  position: relative;
  margin: 0 auto 28px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.avatar, .avatar::after {
  display: block;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  background-size: cover;
  background-position: -13px 0px;
}

.avatar {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}

.avatar > a {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: -13px 0px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5),inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.avatar > a {
  display: block;
  border-radius: 200px;
}

section#sidebar h1 {
  margin-bottom: 10px;
}
section#sidebar h1,
section#sidebar h2,
ul#linkbar {
  padding-left: 40px;
}
div.author_details {
  margin-top: 10px;
  min-height: 1500px;
}
div.author_details p {
  padding: 3px;
}
div.author_details h2 {
  margin-top: 180px;
  margin: 2em 0 -0.5em 0;
  font-size: 16px;
  color: #000;
  border: none;
}
#copyright {
  font-size: 12px;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed',sans-serif;
}
/*POSTS*/
body > header, body > section, body > footer {
  max-width: 650px;
  margin:0 auto;
}

body > header {
  color: #222;
  margin-bottom: 5em;
  text-align: center;
}

body > header p {
  margin:0;
}

article {
  margin-bottom: 5em;
}

.date {
  color:#949494;
  font-size:.8em;
  margin-top: 1px;
}

ul.nav {
  margin: 20px 0;
}
ul.nav li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
ul.nav li a {
  color: #333;
  text-decoration: none;
  padding-left: 40px;
}
ul.nav li a:hover {
  color: #000;
}
.listing .post {
  width:100%;
}
.listing .post:first-child {
  margin-top: 0px;
}
.listing .post h2 {
  margin: 10px 0 5px 0;
  font-size: 22px;
  color: black;
}
.listing .post h2 a {
  color: #222;
  text-decoration: none;
}
.listing .post .continue {
  font-size: .8em;
}
.listing .post.other {
  margin-left: 24px;
  padding-left: 10px;
  color: #666;
  border-left: 1px solid #ddd;
}
.listing .post.other h2 {
  margin-bottom: -3px;
  font-size: 18px;
  line-height: 14px;
}
.listing .post.other p:last-child {
  margin-bottom: 0;
}
.main ul,
.main ol {
  margin: 16px 0;
}
.main ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.main ol li {
  margin-left: 32px;
  margin-bottom: 5px;
}
pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
  color: #444;
  overflow: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-image: initial;
  padding: 2px;
}
.btn-success:visited {
  color: #FFFFFF;
}
div.instagram-placeholder,
.instagramz {
  padding-left: 40px;
}
.instagramz {
  max-width: 75px;
  border: none;
}
.instapaid {
  font-size: .7em;
}
.twitter {
  left: -3px;
}
