---
layout: default
---

<p style="display:none;" itemprop="name">CoovTech</p>
<p style="display:none;" itemprop="image">http://www.gravatar.com/avatar/a0c8167927cf85a30a5d353828a59fc9.png?s=100</p>
<p style="display:none;" itemprop="description">A blog by Billy Coover</p>

<div class="listing">
{% for post in site.posts %}
  {% if post.type == 'link' %}
    <div class="post other link">
      <span class="icon" title="This is a link elsewhere"></span>
      <h2 ><a href="{{ post.link }}">{{ post.title }}</a></h2>
      <p >{{ post.content }}</p>
    </div>
  {% else %}
    <div class="post">
      <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
      <h2 ><a href="http://coovtech.com{{ post.url }}">{{ post.title }}</a></h2>
      <p >{{ post.excerpt | markdownify }}<a href="{{ post.url }}" class="continue">More...</a> <div class="g-plusone" data-size="small" data-href="http://coovtech.com{{ post.url }}"></div></p>
    </div>
  {% endif %}
{% endfor %}
</div>