<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &mdash; CoovTech
	  {% else %}
	    CoovTech
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Billy Coover" />
  <meta name="copyright" content="Billy Coover" />
  <meta name="description" content="Personal website of Billy Coover, Software Engineer from Arizona" />
  <meta name="keywords" content="billy, coover, billy coover, coovtech, software, engineering, independent contractor, independent consultant, iOS developer, Android developer, .net developer, entrepreneur, co-founder of SideBox, CTO of SideBox" />
  <link rel="alternate" type="application/atom+xml" href="http://coovtech.com/feed/" />
  <link rel="author" href="https://plus.google.com/110690218781759841805" />
  <link rel="me" type="text/html" href="http://profiles.google.com/billycoover?rel=me">
  <link rel="me" type="text/html" href="http://twitter.com/billycoover">
	<meta name="google-site-verification" content="HdcE1PjHArh5uaHsotQS_7LcIH5Y7OIUBUHo1IJOKgM" />
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <link rel="stylesheet" href="/css/compiled/base.css" type="text/css" />
  <link href="/img/favicon.ico" rel="icon" type="image/x-png" />
  <link rel="Shortcut Icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">

</head>
<body>

  <header>
    <div class="avatar">
      <a class="avatar-link" href="/about" style="background-image:url(/img/coov.png)"></a>
    </div>
    <h1>Hi, I'm <a href="/about">Billy</a></h1>
    <p>CTO of <a href="http://www.sidebox.com">SideBox</a>, tech guru, and sports enthusiast.</p>
    <p>Currently working on <a href="http://www.nearbynow.co">Nearby Now</a> and <a href="http://www.pay-pad.com">Pay Pad for Stripe</a>.</p>

    <div id="ads-container">
      <div style="width:400px;">
        <div style="float:left">
          <a href="http://www.pay-pad.com?src=ct1">
          <img src="https://s3.amazonaws.com/assets.coovtech/pay-pad-Icon.png" alt="pay pad for stripe icon" /></a><br/>
        </div>
        <div style="float:right; text-align:left;">
          <span>Pay Pad for <a href="http://www.stripe.com">@Stripe</a></span>
          <p>
            Manage your Stripe account from your iOS device<br/><small>(now with push notifications)</small>
            <a id="paypad-link" href="http://www.pay-pad.com?src=ct2">Download iOS app</a>
          </p>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>

  </header>

  <section id="posts">

    {{ content }}

  </section>

  <footer>
    <small id="copyright">© 2012 CoovTech, LLC</small>
  </footer>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f0d0601613f5d6718000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

</body>
</html>