<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
	<title>
	  {% if page.title %}
	    {{ page.title }} &mdash; CoovTech
	  {% else %}
	    CoovTech
	  {% endif %}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Billy Coover" />
  <meta name="copyright" content="Billy Coover" />
  <meta name="description" content="Personal website of Billy Coover, Software Engineer from Arizona" />
  <meta name="keywords" content="billy, coover, billy coover, coovtech, software, engineering, independent contractor, independent consultant, iOS developer, Android developer, .net developer, entrepreneur, co-founder of SideBox, CTO of SideBox" />
  <link rel="alternate" type="application/atom+xml" href="http://coovtech.com/feed/" />
  <link rel="author" href="https://profiles.google.com/110690218781759841805" />
  <link rel="me" type="text/html" href="http://profiles.google.com/billycoover?rel=me"> 
  <link rel="me" type="text/html" href="http://twitter.com/billycoover">
	<meta name="google-site-verification" content="HdcE1PjHArh5uaHsotQS_7LcIH5Y7OIUBUHo1IJOKgM" />
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<link rel="stylesheet" href="http://coovtech.com/css/base.css" type="text/css" />
  <link href="/images/favicon.ico" rel="icon" type="image/x-png" />
  <link rel="Shortcut Icon" href="/images/favicon.ico" type="image/x-icon" />
  <script type="text/javascript">
  	var _gaq = _gaq || [];
  	_gaq.push(['_setAccount', 'UA-5482014-9']);
  	_gaq.push(['_trackPageview']);

  	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

  	})();
  </script>

</head>
<body>

  <div class="main">
  
    <div style="float:left; width: 100px;">
      <a href="/">
      	<img src="http://www.gravatar.com/avatar/9bb02ec020f37fd161b8a7f9e0823ef2.png?s=75" height="75" width="75" class="avatar" >
      </a>
    </div>
    <div style="float:left; width: 100px;">
    	<span id="billy">Billy</span><br />
    	<span id="coover">Coover</span><br />
    	<span>Software Engineer, Co-founder & CTO of <a href="http://www.sidebox.com">SideBox</a></span>
    </div>
    <div style="clear: both;"></div>
    <hr />
  
    {{ content }}
    
<br />
    <a href="https://twitter.com/billycoover" class="twitter-follow-button" data-show-count="false">Follow</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
<br />
  
    <br />
    <small id="copyright">© 2012 CoovTech, LLC</small>	
  </div>
  
  
  
</body>
</html>