---
layout: default
---
{% if page.image %}
<div class="page-image" style='background-image: url("{{ page.image }}");'>
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% else %}
<div style="margin-bottom: 60px;"></div>
{% endif %}

<article>
  {% if page.image == null%}
  <h1 itemprop="name">{{ page.title }}</h1>
  {% endif %}
	
	<p class="date">{{ page.date | date: "%B %e, %Y" }}</p>
	<p style="display:none;" itemprop="description" >{{ page.excerpt }}" </p>

	{{ content }}

	{% if page.hn %}
      <p>
	    View this post over at <a href="{{ page.hn }}">Hacker News</a>.
      </p>
    {% endif %}

	<a href="/">← Back home</a>
</article>