---
layout: default
---
<p class="date">{{ page.date | date: "%B %e, %Y" }}</p>
<h1 itemprop="name">{{ page.title }}</h1>
<p style="display:none;" itemprop="description" >{{ page.excerpt }}" </p>

<a href="/">
      <img src="http://www.gravatar.com/avatar/9bb02ec020f37fd161b8a7f9e0823ef2.png?s=75" height="75" width="75" class="avatar" >
    </a><br />
    <span>My name is <a href="/about">Billy Coover</a>, I'm Software Engineer in Mesa, AZ. I love to <a href="http://www.tekfolio.me/billy">build things.</a></span>
    
{{ content }}

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="http://coovtech.com{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="g-plusone" data-size="medium" data-href="http://coovtech.com{{ page.url }}/">